<nav class="navbar fixed-top navbar-light bg-light">
    <a href="#" class="navbar-brand">Brøytestatus</a>
		<form class="form-inline my-2 my-lg-0" >
				<input class="form-control mr-sm-2" type="search" #search [formControl]="searchControl" aria-label="Search">
    </form>
</nav>

<div class="card" id="floating-panel" opacity="0.0">
    <ul class="list-group">
       <li class="list-group-item" style="background-color:Tomato;">Strøing</li>
       <li class="list-group-item" style="background-color:Orange;">Brøyting</li>
       <li class="list-group-item" style="background-color:DodgerBlue;">Fresing</li>
       <li class="list-group-item" style="background-color:MediumSeaGreen;">Salting</li>
       <li class="list-group-item" style="background-color:SlateBlue;">Skraping</li>
    </ul>
</div>
<agm-map [latitude]="latitude" [longitude]="longitude">
    <div *ngFor="let trip of trips">
      <agm-polyline *ngFor="let c of trip.type; let i = index" [strokeColor]="setColor(c)" [strokeWeight]="i == 0 ? 4 : i*10" [zIndex]="5-i">
          <agm-polyline-point *ngFor="let point of trip.points" [latitude]="toFloat(point.lat)" [longitude]="toFloat(point.lng)">
          </agm-polyline-point>
      </agm-polyline>
    </div>
</agm-map>
